################################################################################
## Editor Settings
################################################################################
.idea/**/*
.vscode/**/*

!.vscode/extensions.json

##################
## Build Artifacts
##################
coverage/
dist/
generated/
**/cypress/videos/
**/cypress/screenshots/
libs/database/src

###############
## Dependencies
###############
node_modules/

###############
## Runtime Data
###############
.docker/data
.env
.env.*
yarn-error.log
deploy.sh
.pnpm-debug.log