version: "3.7"

x-base: &base
    restart: unless-stopped
    user: "${UID}"

services:
    db:
        <<: *base
        container_name: inhouse_db
        image: postgres:14
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
        ports:
            - "5432:5432"
        volumes:
            - ./.docker/data/postgres:/var/lib/postgresql/data
